$body-bg: #1f002b;
$color-pink: #e4229c;
$color-gray: #e8eaf2;
$color-gray-040: #f2f3f5;
$color-gray-100: #ececfb;
$color-gray-200: #c4c8cc;
$color-gray-400: #b6b8c3;
$color-white: #ffffff;
$select-bg: #36173d;
$select-selected: #e4229b;
$select-selected-bg: rgba(228, 34, 155, .2);
$checkbox-bg: #6d4376;
